<button type="button" ng-click="openModalCreate('app/pages/chef/widgets/ModalChefCreate.html', 'lg', null)" class="btn btn-primary"><i class="ion-ios-plus-empty"></i> Create a new Chef</button>
<div class="table-responsive table-whaleat">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Nationality</th>
      <th>Sex</th>
      <th></th>
    </tr>
    <tr ng-repeat="chef in chefs">
      <td>{{chef.name}}</td>
      <td>{{chef.surname}}</td>
      <td><span class="flag-icon flag-icon-{{chef.ISOCode}}"></span> {{chef.country_name}}</td>
      <td>
        <i ng-if="chef.sex == 'Male'" class="fa fa-mars iconList iconMale"></i>
        <i ng-if="chef.sex == 'Female'" class="fa fa-venus iconList iconFemale"></i>
      </td>
      <td>
        <i data-toggle="modal" ng-click="openModalEdit('app/pages/chef/widgets/ModalChefEdit.html', 'lg', chef)" class="ion-ios-compose-outline iconList iconEdit"></i>
        <i ng-click="RemoveChef(chef)" class="ion-ios-trash-outline iconList iconRemove"></i>
      </td>
    </tr>
  </table>
</div>
