<div class="table-responsive table-whaleat table-chefview">
  <table class="table">
    <tr>
      <th></th>
      <th>Dish</th>
      <th>Quantity</th>
      <th>State</th>
    </tr>
    <tr class="sequence-class-{{order.sequence_order}} line-{{(order.state).replace(' ','-')}}" ng-repeat="order in table.orders.Orders">
      <td ></td>
      <td>{{order.name}}</td>
      <td></td>
      <td>
       <span ng-click="changeNextStatus(order)" class="label label-{{(order.state).replace(' ','-')}}">{{order.state}}</span>
      </td>
    </tr>
  </table>
</div>
