<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">Edit your Dish</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="input-name">Name</label>
          <input type="text" class="form-control" id="input-name" placeholder="Dish Name" ng-model="item.name">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="input-price">Price</label>
            <div class="input-group">
              <input ng-model="item.price" type="number" class="form-control" id="input-price" placeholder="Price">
              <span class="input-group-addon addon-right input-group-addon-primary">€</span>
            </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label for="input-type">Type</label>
          <select class="form-control selectpicker with-search" data-live-search="true" title="Type Dish" ng-change="console.log('change')" selectpicker
            ng-model="item.id_type_dish"
            ng-options="type.id_type_dish as type.name for type in type_dishes">
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
        <label for="input-create-type">or Create a new type</label>
          <input class="form-control" placeholder="New Type" type="text" id="input-create-type" ng-change="console.log(newtype)" ng-model="item.newtype">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="input-description">Description</label>
            <textarea placeholder="Dish description" class="form-control" ng-model="item.description" id="input-description"></textarea>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
              <label for="input-type">Allergies</label>
              <select class="form-control selectpicker with-search" data-live-search="true" title="None" ng-change="console.log('change')" multiple selectpicker
                ng-model="item.allergies"
                ng-options="allergy as allergy.name for allergy in allergies">
              </select>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label for="input-tax">Tax</label>
                <div class="input-group">
                  <input ng-model="item.tax" type="number" class="form-control" id="input-tax" placeholder="Tax">
                  <span class="input-group-addon addon-right input-group-addon-primary">%</span>
                </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="input-sequence">Sequence</label>
              <select class="form-control selectpicker with-search" data-live-search="true" title="Order" ng-change="console.log('change')" selectpicker
                ng-model="item.sequence"
                ng-options="seq.id_sequence as seq.name for seq in sequence">
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <div class="userpic">
              <div class="userpic-wrapper">
                <img ng-src="{{ item.img_path }}" ng-click="uploadPicture()">
              </div>
              <i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i>
              <a href class="change-userpic" ng-click="uploadPicture()">Change Picture</a>
              <input type="file" ng-show="false" id="uploadFile" ng-file-select="onFileSelect($files)">
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="edit(item);">Save Changes</button>
  </div>
</div>






