<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">Create a new Station</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group select-page-size-wrap ">
          <label>Rows on page
            <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                    ng-model="TablePageSize" ng-options="i for i in [5,10,15]">
            </select>
          </label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="input-name">Name</label>
          <input type="text" class="form-control" id="input-name" placeholder="Station Name" ng-model="item.name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="horizontal-scroll">
        <table class="table" st-table="dishes">
          <thead>
          <tr class="sortable ">
            <th><input ng-change="toggleAllDishes()" ng-model="allchecked" type="checkbox"></th>
            <th st-sort="name">Name</th>
            <th st-sort="name_type">Type_dish</th>
          </tr>
          <tr>
            <th></th>
            <th><input st-search="name" placeholder="Search Dish Name" class="input-sm form-control search-input"
                       type="search"/></th>
            <th><input st-search="name_type" placeholder="Search Type Dish" class="input-sm form-control search-input"
                       type="search"/></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="dish in dishes">
            <td><input ng-model="dish.checked" ng-checked="dish.checked || allchecked" ng-change="toggleDish(dish.id_dish)" type="checkbox"></td>
            <td>{{dish.name}}</td>
            <td>{{dish.name_type}}</td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="6" class="text-center">
              <div st-pagination="" st-items-by-page="TablePageSize" st-displayed-pages="5"></div>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="add(item)">Create</button>
  </div>
</div>
