.iconList {
	font-size: 24px;
}

.iconSun {
	color: #f3d245;
} 

.iconMoon {
	color: #534ecb;
}

.iconMale {
	color: #5074d7;
}

.iconFemale {
	color: #e4398f;
}

.iconEyeActive{
	color: #209b8e;
}

.iconEye, .iconStation{
	cursor: pointer;
}

.iconEye:hover, .iconStation:hover{
	color: #209b8e;
}

.iconRemove, .iconEdit {
	cursor: pointer;
}

.iconRemove:hover {
	color: #F64747;
	cursor: pointer;
}

.iconEdit:hover {
	color: #4B77BE;
}

.iconDish:hover {
	color: #F62459;
}

.iconComment {
	font-size: 20px;
	color: #4B77BE;
}


.iconComment:hover {
	color: #3A539B;
}
.dayBox {
	height: 15px;
	width: 15px;
	margin: 1px;
	margin-top: 10px;
	float: left;
}

.dayBoxGreen {
	background-color: #88ee91;
}

.dayBoxGrey {
	background-color: #d2d2d2;
}

.table-whaleat > .table > tbody > tr > td:first-child {
	text-align: left;
}

.table-whaleat > .table > tbody > tr > td:last-child {
	text-align: right;
}

.table-whaleat > .table > tbody > tr:first-child {
	background-color: #F2F2F2;
}

.btn-whaleat {
	background-color: #209e91;
	color: white;
}

.btn-whaleat:hover {
	color: white;
}

.panel.xsmall-panel.tabs-panel {
	height: 500px;
}

div.table-panel-h-nofixed div.table-panel-h-nofixed{
	height: auto;
}

span.green_highlight {
	color: #209b8e;
	font-weight: bold;
	font-size: 24px;
}

.big{
	font-size: 36px;
}

.xbig {
	font-size: 54px;
}

div.panel-range h3.panel-title, div.panel-new-range h3.panel-title {
	text-align: center;
}

div.centered {
	text-align: center;
}

div.row.row-margin-bottom {
	margin-bottom: 20px;
}
div.panel-range{
	min-height: 147px;
	position: relative;
}

div.panel-new-range {
	position: relative;
	opacity: 0.4;
	min-height: 105px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	color: #209b8e;
}

div.panel-new-range:hover{
	opacity: 1;
}

div.panel-new-range:hover i.ion-ios-plus-outline{
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    
}

.items-range {
	position: absolute;
	top:10px;
	right: 10px;
}

ul.dropdown-menu.inner li.active a span.text, span.input-group-addon-primary.input-group-addon.addon-right{
	color: white !important;
}

.marg-bot-20 {
	margin-bottom: 20px;
}

span.label {
	border-radius: .25em;
}

.label.label-Ready {
	background-color: #3FC380;
}
.label.label-Changed {
	background-color: #F89406;
}
.label.label-Cancelled {
	background-color: #F64747;
}
.label.label-Waiting {
	background-color: #BDC3C7;
}
.label.label-Payed {
	background-color: #9B59B6;
}
.label.label-In-Process {
	background-color: #4B77BE;
}

.sequence-class-0 {
	border-left: 15px solid #F62459;
}

.sequence-class-1 {
	border-left: 15px solid #663399;
}
.sequence-class-2 {
	border-left: 15px solid #1BBC9B;
}
.sequence-class-3 {
	border-left: 15px solid #F4B350;
}
.sequence-class-4 {
	border-left: 15px solid #F2784B;
}
.sequence-class-5 {
	border-left: 15px solid #2C3E50;
}

.line-Cancelled {
	background-color: rgba(255,0,0,0.15);
} 

.line-Changed {
	background-color: rgba(255,193,0,0.15);
} 

.table-chefview > .table > tbody > tr > td:last-child {
    text-align: left;
}

.table-panel {
	height: auto !important;
}

.add-range:hover {
	color: #F64747 !important;
}

.change-userpic {
	color: white;
}

.undo-button-wrapper {
	position: absolute;
	bottom: 0px;
	right: 0px;
}