<button type="button" class="btn btn-primary"><i class="ion-ios-plus-empty"></i> Create a new Restaurant</button>
<div class="table-responsive table-whaleat">
  <table class="table">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone n.1</th>
      <th>Phone n.2</th>
      <th></th>
    </tr>
    <tr ng-repeat="restaurant in restaurants">
      <td>
        <i ng-if="active_restaurant == restaurant.id_restaurant" class="ion-ios-eye iconList iconEyeActive iconEye"></i>
        <i ng-click="ChangeActiveRestaurant($index)" ng-if="active_restaurant != restaurant.id_restaurant" class="ion-ios-eye-outline iconList iconEye"></i>
      </td>
      <td>{{restaurant.name}}</td>
      <td>{{restaurant.address}}</td>
      <td>{{restaurant.email}}</td>
      <td>{{restaurant.phone1}}</td>
      <td>{{restaurant.phone2}}</td>
      <td>
        <i data-toggle="modal" ng-click="open('app/pages/ui/modals/modalTemplates/largeModal.html', 'lg')" class="ion-ios-compose-outline iconList iconEdit"></i>
        <i ng-click="RemoveRestaurant($index)" class="ion-ios-trash-outline iconList iconRemove"></i>
      </td>
    </tr>
  </table>
</div>
